@import url(//fonts.googleapis.com/css?family=Antic+Slab|Libre+Baskerville);

footer{
  height:100px;
}
.node circle {
  fill: #fff;
  stroke: #9a1f24;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
  cursor: pointer;
}

.link, .infolink {
  fill: none;
  stroke: #ccc;
  stroke-width: 4px;
}

svg{
  display:block;
  margin:auto;
}
#chart{
  position:relative;
}
.infoBox{
  display:block;
  margin:auto;
  padding:20px;
  width:540px;
  /*text-align: center;*/
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 1px;
}
.infoBox img{
  margin: auto;
  display: block;
}
#info-container a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
}
#info-container a:hover{
  color: #9a1f24;
}
.infoAvatar{
  margin: 18px 18px 15px 15px;
  font-size: 40px;
  float: right;
}
.infoAvatar img{
  width: 50px;
  border-radius: 3px;
}
.infoTitle{
  margin-bottom: 10px;
  font: normal normal 400 0.8333333333333334em "Libre Baskerville", Georgia, serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.infoSubhead{
  margin-bottom: 15px;
  font-family: "Antic Slab", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
.infoText{
  font: normal normal 400 0.8333333333333334em "Libre Baskerville", Georgia, serif;
  /*font-size: 14px;*/
  line-height: 20px;
}
.follow{
  width:100%;
  text-align: center;
}
.follow img{
  display:inline-block;
}
#made-with{
  position:fixed;
  bottom:0;
  right:15px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 1px;

  font-family: "Antic Slab", Helvetica, Arial, sans-serif;
  font-size:10px;
  padding:5px;
}