<!DOCTYPE html>
<html>
{% include head.html %}


<body>

  {% include header.html %}

  <div id="chart"></div>
  <div id="info-container"></div>
  {% include footer.html %}

</body>
<link rel="stylesheet" href="css/style.css">
<script src="js/google-analytics.js" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/faridCV.js" charset="utf-8"></script>
</html>
